###
#
# Copy this file to `config.ini` and edit for your local setup
#
###

# Config file for preprocessing scripts
[paths]
# incoming_data is the path to the directory of input data, as provided
incoming_data: ~/data/vietnam-transport/C Incoming Data/
# clean_data is the path to the directory of clean data, output by these scripts
clean_data: ~/data/vietnam-transport/clean_data/
